.filters{
  @extend %flex-center;
  margin-bottom: 75px;
  @extend %dmsans;
  font-weight: 700;

  li:not(:last-child){
    margin-right: 15px;
  }

  .mixitup-control-active{
    color: $dark;
  }

  &__btn{
    font-size: 16px;
    border: none;
    outline: transparent;
    background-color: transparent;
    color: #8b8b8b;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    &:hover{
      color: $dark;
    }
    &:focus{
      transform: translateY(-3px);
      color: $dark;
    }
  }

}