$primary: #436372;
$dark: #1a1a1a;
$lightblue: #a3bbc8;
$white: #ffffff;
$lightorange: #fcd7b6;
$text-color: #243f4d;
$newDesignBg: #f8f8f8;
$darkness: #191919;

// Mixins

@mixin more-btn{
  display: inline-block;
  position: relative;
  padding: 20px 85px 20px 20px;
  border: 1px solid $primary;
  border-radius: 5px;
  color: $primary;
  font-weight: 500;
  font-size: 15px;
  &::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 9px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url('../../images/icons/more-arrow.svg');
    background-repeat: no-repeat;
  }
}

@mixin caption {
  text-align: center;
  font-size: 36px;
  color: #191919;
  font-weight: 700;
  @extend %dmsans;
}

@mixin card-title{
  display: inline-block;
  font-size: 20px;
  @extend %dmsans;
  font-weight: 770;
  color: $darkness;
  max-width: 175px;
}

@mixin mark{
  line-height: 1.4;
  font-size: 14px;
  background-color: $lightblue;
  text-transform: uppercase;
  color: $white;
  padding: 10px 30px;
  @extend %poppins;
  border-radius: 24px;
}

%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%line-clamp{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// -webkit-line-clamp: 3;

%dmsans{
  font-family: 'DMSans', sans-serif;
}

%poppins{
  font-family: 'Poppins', sans-serif;
}

%rubik{
  font-family: 'Rubik', sans-serif;
}