@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  background-color: #ffffff;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
  }
  & .menu{
    padding-left: 155px;
    &__list{
      @extend %flex-center;
    }
    &__item{
      &-link{
        @extend %rubik-500;
        font-size: 15px;
        line-height: 0.8;
        padding-bottom: 5px;
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s ease;
        -webkit-transition: border-color 0.3s ease;
        -moz-transition: border-color 0.3s ease;
        -ms-transition: border-color 0.3s ease;
        -o-transition: border-color 0.3s ease;
        &:hover{
          border-bottom: 1px solid $primary;
        }
      }
    }
    &__item:not(:last-child){
      margin-right: 35px;
    }
  }
  &-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    &__link{
      @extend %flex-center;
      width: 50px;
      height: 50px;
      background-color: rgba(67, 99, 114, 0.2);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: background-color 0.3s ease, fill 0.3s ease;
      -webkit-transition: background-color 0.3s ease, fill 0.3s ease;
      -moz-transition: background-color 0.3s ease, fill 0.3s ease;
      -ms-transition: background-color 0.3s ease, fill 0.3s ease;
      -o-transition: background-color 0.3s ease, fill 0.3s ease;
      &:first-child{
        margin-right: 20px;
      }
      &:hover{
        background-color:rgba(67, 99, 114, 1);
        & svg path{
          transition: fill 0.3s ease;
          -webkit-transition: fill 0.3s ease;
          -moz-transition: fill 0.3s ease;
          -ms-transition: fill 0.3s ease;
          -o-transition: fill 0.3s ease;
          fill: #ffffff;
        }
      }      
    }
    &__block{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 20px;
      width: 178px;
      
      background-color: #fcd7b6;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      & > .header-actions__link{
        background-color: transparent;
        position: relative;
        margin: 0;
        width: 100%;
        &:first-child::after{
          content: '';
          position: absolute;
          width: 1px;
          height: 32px;
          background-color: #fde7d3;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }   
    }
    &__count{
      position: absolute;
      top: 18%;
      right: 28%;
      width: 16px;
      height: 16px;
      background-color: #ffffff;
      font-size: 10px;
      @extend%flex-center;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

.hero{
  position: relative;
  &__inner{
    background-color: #fcd7b6;
  }
  &__slider{
    max-width: 1350px;
    margin: 0 auto;
    padding: 45px 10px;
    &-item{
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 8%;
        right: 0;
        width: 609px;
        height: 640px;
        background-image: url('../images/hero-circle.png');
        background-repeat: no-repeat;
      }
      &-wrapper{
        min-height: 730px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
    &-right{
      position: relative;
      width: 75%;
      z-index: 10;
    }
  }
  &__title{
    font-size: 72px;
    @extend %rubik-500;
    text-transform: uppercase;
    line-height: 0.97;
    margin-bottom: 45px;
  }
  &__text{
    font-size: 18px;
    line-height: 1.7;
    @extend %rubik-400;
    max-width: 370px;
    margin-bottom: 45px;
  }
  &__btn{
    position: relative;
    display: inline-block;
    color: #ffffff;
    @extend %rubik-500;
    text-transform: capitalize;
    background-color: $primary;
    padding: 25px 100px 25px 25px;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 10%;
      width: 24px;
      height: 10px;
      background-image: url('../images/icons/icon-arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    &:hover{
      background-color:rgba(67, 99, 114, 0.9)
    }
  }
}

.slick{
  &-dots{
  @extend %flex-center;
    & button{
      border-radius: 50%;
      border: none;
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: $primary;
      font-size: 10px;
      background-color: rgba(255, 255, 255, 0.2);
      &:hover{
        background-color: rgba(255, 255, 255, 1);
      }
    }
    & li:not(:last-child){
      margin-right: 10px;
    }
  }
  &-active button{
    background-color: rgba(255, 255, 255, 1);
  }
  
}

.info{
  &__list{
    position: relative;
    background-color: #fef7f0;
    display: flex;
    justify-content: center;
    & li{
      width: 100%;
      padding: 45px 0;
      &:not(:last-child){
        border-right: 1px solid #e8e4df;
      }
    }
  }
  &__item-inner{
    position: relative;
    max-width: 270px;
    margin: 0 95px 0 auto;
    padding-left: 55px;
  }
  &__title{
    display: block;
    font-size: 18px;
    line-height: 2.2;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 1.8;
    @extend %dmsans-400;
  }
  &__support,
  &__delivery,
  &__secure{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 10px;
      left: -25px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
    }
  }
  &__support::before{
    background-image: url('../images/icons/24h.svg');
  }
  &__delivery::before{
    background-image: url('../images/icons/delivery-truck.svg');
  }
  &__secure::before{
    background-image: url('../images/icons/credit-card.svg');
  }

}

@import 'media';
